[Unit]
Description=Sync nixos-config and axon repos

[Service]
Type=oneshot
ExecStart=/home/mikhail/Desktop/shadow/scripts/sync-repos
StandardOutput=append:/home/mikhail/Desktop/shadow/scripts/sync.log
StandardError=append:/home/mikhail/Desktop/shadow/scripts/sync.log
